bot_username=my_bot
users_table=transport_clients
settings_table=transport_settings
follow_table=transport_follow
bot_token=1111111\:AAAAAAAAAAAAAAAAA
db_user=root
db_password=password
db_host=localhost\:3306/forum
forumurl=https\://forum.com/
saveto=/home/forum/www/media/
mediaurl=https\://forum.com/media/
xf_prefix=xf_
lang=en
ffmpeg=ffmpeg
logging=0
# bot admins, telegram usernames separated by comma
admins=admin1,admin2
# don't announce threads/posts from this nodes, separate by comma
exlucde_nodes=15,30
# print messages received by bot to the system console
dev=0
# keep as is
sqlconnections=0